.red{
    background-color: red;
    width: 100%;
    height: 175px;
}
.green{
background-color: green;
width: 100%;
height: 175px;
}
.white{
    background-color: #ffffffff;
    width: 100%;
    height: 175px;
}